button{
    background-color: var(--primary-colour);
    color: white;
    border: 3px solid white;
    padding: 10px 20px;
    cursor: pointer;
    transition: transform 0.1s ease;
}

button:hover {
    color: var(--primary-colour);
    background-color: white;
}